.schedule-item {
  width: 100%;
  max-width: 48rem;
  margin: 9rem auto 0;
  border-radius: 0.8rem;
  position: relative;

  &--small {
    margin-top: 6rem;
  }

  @media (--mobile) {
    margin-top: 14rem;

    &--small {
      margin-top: 7rem;
    }
  }

  @media (--tablet) {
    max-width: 70rem;
    margin-top: 4rem;
  }

  &--image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    box-shadow: 2px 8px 32px -8px var(--primary-color);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -75%) scale(0);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

    @media (--mobile) {
      width: 14.4rem;
      height: 14.4rem;
    }

    @media (--tablet) {
      top: 50%;
      left: 0;
      transform: translateY(-50%) scale(0);
    }

    &--loaded,
    &--error {
      transform: translate(-50%, -75%) scale(1);
      opacity: 1;
      @media (--tablet) {
        transform: translateY(-50%) scale(1);
      }
    }

    &--error {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: none !important;
      background-color: var(--iron);
      box-shadow: 2px 8px 32px -8px var(--iron);

      &::before {
        content: "💥";
        font-size: 6.4rem;
      }
    }
  }

  &--info {
    padding: 3.2rem 4rem 2rem;
    background: var(--white);
    box-shadow: 0px 4px 28px -8px var(--iron);
    border-radius: 100rem;
    position: relative;
    z-index: 1;
    text-align: center;

    @media (--mobile) {
      padding: 5.2rem 4rem 2rem 4rem;
    }

    @media (--tablet) {
      padding: 2rem 10rem 2rem 16.4rem;
    }

    h2,
    p,
    a {
      padding: 0;
    }

    h2 {
      margin-bottom: 0.4em;
      font-size: 1.8rem;

      @media (--tablet) {
        font-size: var(--size-heading-2);
      }
    }

    p,
    a {
      font-size: 1.6rem;
      transition: color 0.3s;

      @media (--tablet) {
        font-size: var(--size-text);
      }
    }

    a:hover {
      color: var(--primary-color);
    }
  }

  &--time {
    position: absolute;
    top: -2rem;
    left: calc(50% - 6rem);
    transform: translate(-100%, -50%);

    @media (--mobile) {
      top: -3.6rem;
      left: calc(50% - 9.2rem);
    }

    @media (--tablet) {
      top: 50%;
      left: auto;
      right: 5rem;
      transform: translate(50%, -50%);
    }
  }

  &:nth-child(2n) {
    @media (--tablet) {
      .schedule-item--image {
        left: auto;
        right: 0;
      }

      .schedule-item--info {
        padding-left: 10rem;
        padding-right: 16.4rem;
      }

      .schedule-item--time {
        left: 5rem;
        right: auto;
        transform: translate(-50%, -50%);
      }
    }
  }

  &--small {
    &:nth-child(2n) {
      .schedule-item--info {
        padding-left: 10rem;
        padding-right: 10rem;
      }
    }

    .schedule-item--info {
      padding: 2rem 4rem;

      @media (--mobile) {
        padding: 2rem 4rem;
      }

      @media (--tablet) {
        padding: 2rem 10rem;
      }
    }
  }

  &--break,
  &--lunch {
    .schedule-item--info {
      animation: bg-move 2s infinite linear;

      background-image: linear-gradient(
        45deg,
        transparent 25%,
        var(--schedule-bar-color) 25%,
        var(--schedule-bar-color) 50%,
        transparent 50%,
        transparent 75%,
        var(--schedule-bar-color) 75%
      );
      background-size: 48px 48px;
      background-repeat: repeat;
    }
  }

  &--lunch {
    .schedule-item--info {
      --schedule-bar-color: rgba(0, 0, 0, 0.05);
      background-color: var(--primary-color);

      h2 {
        color: var(--white);
      }

      @media (--tablet) {
        color: var(--white);
      }
    }
  }
}

@keyframes bg-move {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 48px;
  }
}
