.speaker-card {
  max-width: 50rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.8rem;
  background: var(--white);
  box-shadow: 0px 4px 24px -8px var(--iron);
  overflow: hidden;

  &--image {
    width: 100%;
    padding-bottom: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--info {
    padding: 2rem;
    text-align: center;
    h2,
    p {
      padding: 0;
    }

    h2 {
      margin-bottom: 0.4em;
    }
  }
}
