<!DOCTYPE html>
<html>

<head>
  <!-- TODO: Change domain and name here -->

  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Python Pizza</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ed4337" />
  <meta name="msapplication-TileColor" content="#ed4337" />
  <meta name="theme-color" content="#ed4337" />

  <meta name="description" content="Python Pizza is a micro conference" />

  <meta name="twitter:card" value="summary_large_image" />
  <meta property="og:title" content="Python Pizza" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://hamburg.python.pizza/" />
  <meta property="og:image" content="https://hamburg.python.pizza/social-image.jpg?v=2" />
  <meta property="og:image:width" content="1640" />
  <meta property="og:image:height" content="624" />
  <meta property="og:description" content="Python Pizza is a micro conference" />
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <div id="app"></div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123182070-3"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-123182070-3');
  </script>
</body>

</html>
