.sponsors-showcase {
  margin: 5rem 0;

  img {
    width: 14rem;
    height: auto;
  }

  a {
    margin: 1.5rem 0;

    &#uic img {
      width: 16rem;
    }

    &#psf img {
      width: 22rem;
    }

    &#gutl img {
      width: 18rem;
    }

    &#llu img {
      width: 16rem;
    }

    &#bchc img {
      width: 8rem;
    }

    @media (--tablet) {
      margin: 0;
    }
  }

  &--row1,
  &--row2,
  &--row3,
  &--row4,
  &--row5 {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);

    align-items: center;
    justify-items: center;

    margin: 2rem 0;
  }

  @media (--tablet) {
    &--row1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &--row2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &--row3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &--row4 {
      grid-template-columns: repeat(4, 1fr);
    }

    &--row5 {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
